@{
    Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Add a Treat to this Flavor: @Html.DisplayFor(model => model.FlavorName)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

        @Html.Label("Select Treat")
        @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}
<br>
    <p>@Html.ActionLink("Back to Treat Details", "Details", "Index")</p>
