@{
    Layout = "_Layout";
}

@model PierreTreats.Models.Flavor

<h1>Add a flavor:</h1>

<p>@Html.ValidationMessageFor(model => model.FlavorId, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>
<p>@Html.ValidationMessageFor(model => model.FlavorName, "", new { @class = "text-danger", @style = "font-weight: 600;"})</p>

@using (Html.BeginForm())
{

    <h3>@Html.LabelFor(model => model.FlavorName)</h3>
    <h4>@Html.TextBoxFor(model => model.FlavorName)</h4>

    <input type="submit" value="save"/>
}

<p>@Html.ActionLink("Back to List", "Index", "Flavors")</p>
