@{
    Layout = "_Layout";
}

@using PierreTreats.Models
@model PierreTreats.Models.Flavor

<h1>Flavor Details</h1>
<hr />
<div>
<h2>Edit This Flavor @Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName) </h2>
</div>

@if (Model.JoinEntities.Count == 0)
{
    <p>This Flavor doesn't have any treats!</p>
}
    else {
        <h3>This Flavor has the following Treats:</h3>
        <ul>
                @foreach (TreatFlavor join in Model.JoinEntities)
                {
                     <li>Treat: @join.Treat.TreatName</li>
                }               
        </ul>
}

<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Add Treat to flavor", "AddTreat", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Back to all flavors", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-secondary"})</p>