@{
  Layout = "_Layout";
}

@using PierreTreats.ViewModels

@model RegisterViewModel

<h2>Create a new account</h2>
<hr />

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(u => u.Email)
  @Html.TextBoxFor(u=> u.Email)

  @Html.LabelFor(u=> u.Password)
  @Html.EditorFor(u=> u.Password)

  @Html.LabelFor(u=> u.ConfirmPassword)
  @Html.EditorFor(u=> u.ConfirmPassword)

  <input type="submit" value="Register" />
}

<p>@Html.ActionLink("Back to accounts page", "Index")</p>