@{
    Layout = "_Layout";
}

@model PierreTreats.Models.Treat

<h1>Add a Flavor to this Treat: @Html.DisplayFor(model => model.TreatName)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

        @Html.Label("Select Flavor")
        @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}
<br>
    <p>@Html.ActionLink("Back to Flavor Details", "Details", "Index")</p>
