@{
    Layout = "_Layout";
}

@using PierreTreats.Models
@model PierreTreats.Models.Treat

<h1>Treat Details</h1>
<hr />
<div>
<h2>Edit This Treat @Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName) </h2>
</div>

@if (Model.JoinEntities.Count == 0)
{
    <p>This Treat doesn't have any Flavor!</p>
}
    else {
        <h3>This treat has the following flavor:</h3>
        <ul>
                @foreach (TreatFlavor join in Model.JoinEntities)
                {
                     <li>Flavor: @join.Flavor.FlavorName</li>
                }               
        </ul>
}

<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId})</p>
<p>@Html.ActionLink("Add Treat to flavor", "AddTreat", new { id = Model.TreatId})</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.TreatId})</p>
<p>@Html.ActionLink("Back to all flavors", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home", null, new { @class = "btn btn-secondary"})</p>